{
  "extends": "airbnb-base",
  "env": {
      "browser": true,            // отключил ошибки на обращения к document и window
      "node": true
  },
  "rules": {
      "no-console": "off" ,        //отключил ошибки на логи в консоли
      "no-plusplus": "off",
      "no-param-reassign": [2, {"props": false}]
  }
}